

/* universal selector setting all fonts to arial */
* {
    font-family: Arial;
}

/* setting the entire page's backround to whitesmoke and setting the overflow x setting to hidden to prevent small phones from scrolling left or right */
body {
    background-color: whitesmoke;
    overflow-x: hidden;
}


/* making the header into a flex box and applying styling to it. Setting contents inside to wrap and space between */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 10px 10px 20px;
    height: 100%;
    align-items: center; 
    background-color: rgb(37, 34, 34);
    padding: 1rem;
    border-radius: 0px 0px 5px 0px;
    border-bottom: solid;

}

/* adding styling to the h1 header */
h1 {
    font-size: 50px;
    background-color: powderblue;
    color: rgb(37, 34, 34);
    border-radius: 2px;
    box-shadow: 0px 0px 10px black;
    padding: 5px;
    text-shadow: 0px 0px 1px black;
}

/*setting the ul inside header to display flex to get things to display inline and spacing
it to where it doesnt run into the header when shrunk */
nav ul {
    display: flex;
    padding-left: 1rem;
}

/* spacing the list in the navbar out */
nav ul li {
    padding: 1rem 1rem 0 0;
}

/* adding styilng to the text in the nav list */
header nav li a {
    color: powderblue;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    text-shadow: 0px 0px 5px black;
    font-weight: 600;
}

/* making the banner box into a flex box, adding an image, styling that image,
and styling the banner  */
.banner {
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/samus_water_fanart.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    padding: 20px;
    box-shadow: 0px 0px 2px black;
    border-bottom: solid;
}

/* targetting the box containing the h2 and pushing it down to the bottom  of the banner */
 .banner div {
    display: flex;
    align-items: flex-end;
}

/* styling the h2 header */
h2{
    align-items: center;
    background-color: powderblue;
    height: 30%;
    width: 300px;
    padding: 1rem 0rem  1rem 1rem;
    color: rgb(37, 34, 34);
    text-shadow: 0px 0px 1px black;
    box-shadow: 0px 0px 10px black;
    border-radius: 2px;
}

/* padding the main section to push it away from other sections */
main{
    padding: 3%;
}

/* setting the main section to flexbox, wrapping content and pushing it away from each other */
main section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* setting the h3 headers to flex shrink/grow none, but setting a min basis, adding styling */
h3 {
    flex: 0 0 200px;
    font-size: 50px;
    text-shadow: 0px 0px 3px black;
    color: rgb(37, 34, 34);
    border-right: solid;
    border-color: rgb(37, 34, 34);

}

/* setting all the content to the right of the h3's to flex strink and adding a basis */
.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 500px;

}

/* adding some padding as well as font styling for the paragraph */
main section p {
    padding-left: 3%;
    padding-top: 2%;
    font-weight: bolder;
    text-shadow: 0px 0px 1px black;
    color: rgb(37, 34, 34);
}

/* making the article box into a flexbox and pushing the h3 and content div away from each other*/
article {
    display: flex;
    padding: 3%;
    justify-content: space-between;
}

/* making the grid section containing all of the grid layout sections into flex items and wrapping them. setting with and height to 100% */
#grid-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

/* setting the basic stylings of the grid sections */
.grid-layout {
    width: 50%;
    height: 150px;
    padding:20px;
    padding-left: 50px;
    opacity: .5;
}

/* adding flex properties to the a tags inside of the grid sections */
.photo-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px 15px 15px 0px;
    width: 100%;
    height: 100%;
    border-width: thick;
    border-style: solid;
    border-color: black;
}


/* making the boxes containing the backround photos into flex boxes and setting properties of the backround photos */
#metroid-dread, #speedrunning, #representation, #legacy, #history-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}

/* targetting the grid layout section that holds the history section a tag and setting some dimensions */
.grid-layout:first-child{
    height: 500px;
    width: 100%;
}

/* placing a backround image in the a tag of history section and setting the dimensions */
#history-section {
    background-image: url(../images/metroid-dread.jpg);
    background-position-x: center;
    background-position-y: 60%;
    margin-left: 0px 0px 30px 50px;
    margin-bottom: 30px;
    
}

/* doing the same as history section for the next 4 sections */
#metroid-dread {
    background-image: url(../images/samus-dread.jpg);
    background-position: top;
    border-radius: 3px;
}

#speedrunning {
    background-image: url(../images/Samus-with-rogues.webp);
    background-position-x: center;
    background-position-y: 35%;
}

#representation {
    background-image: url(../images/Samus-with-ship.jpg);
    background-position-x: center;
    background-position-y: 25% ;
}

#legacy {
    background-image: url(../images/super-metroid.jpg);
    background-position-x: center;
    background-position-y: 75% ;
}

/* setting the flexbox properties for the text boxes that overlay the links section */
.overcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: fit-content;
    background-color: powderblue;
    padding: 5px 5px 5px 20px;
    text-shadow: 0px 0px 1px black;
    box-shadow: 0px 0px 10px black;
}

/* setting the text size for  */
.overcard h5{
    font-size: 30px;
    text-decoration: none;
}

/* setting flex properties for the footer and the basic dimensions of */
footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center; 
    padding: 3%;
    flex-wrap: wrap;
}

/* setting flex properties for the footer list */
#footer-list {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-right: 40px;
}


/* adding some text decoration for the footer list nav bar */
#footer-list  li{
    color: rgb(37, 34, 34);
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px; 
    text-underline-offset: 5px;
    text-shadow: 0px 0px 2px black;
    font-weight: 600;
    padding-right: 1rem;
}

/* adding a hover feature to the grid layout using a psuedo class */
.grid-layout:hover {
    opacity: 1;
}

/* using media queries at common pixel widths to make the boxes stack on top of each other and center */
@media (max-width: 992px) {
    .grid-layout{
        width: 100%;
    }

}

@media ( max-width: 768px) {
    header {
        justify-content: center ;
        align-items: center; 
        padding: 1rem;
        width: 100%;
    }

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item {
        line-height: 30px;
    }
    
    main section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h3 {
        flex: 0 0 50px;
        border-right: none;
        border-bottom: solid;
        border-color: rgb(37, 34, 34);
    }

    .content {
        flex: 0 0 200px;
    }
    
    article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        margin-top: 20px;
    }

    #footer-list li {
        line-height: 30px;
    }
}

@media (max-width:530px){
    footer{
        align-items: center;
    }

    #footer-list{
        flex-direction: column;
        align-items: center;
    }
}



  
    
    